/* ==========================
   1. Importação de fontes
   ========================== */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Onest:wght@100..900&display=swap');

/* ==========================
      2. Variáveis globais
      ========================== */
:root {
    --cor-fundo-normal: rgb(30, 50, 49);
}

/* ==========================
      3. Estilização global
      ========================== */
* {
    font-family: "Nunito";
    color: black;
}

body {
    background-color: var(--cor-fundo-normal);
    color: #333;
    margin: 0;
    padding: 0;
    display: block;
    height: 100vh;
    width: 100vw;
}

/* Links */
a {
    color: #2f9e41;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
}

/* ==========================
      4. Tipografia
      ========================== */
h1,
h2,
h4,
h5,
h6 {
    font-family: "Fjalla One" !important;
}

h1 {
    font-size: 20vw;
    text-align: center;
    margin: 50px auto;
    color: white;
}

h2 {
    font-size: 10vw;
    text-align: center;
    margin: 20px auto;
    color: white;
}

h3 {
    font-size: 10vw;
    text-align: center;
    margin: -2px 0px;
    padding: 20px !important;
    color: black;
    font-weight: 800 !important;
    font-family: "Onest" !important;
}

/* h4{
    font-size: 8vw;
    text-align: center;
    margin: -2px 0px;
    padding: 20px !important;
    color: white;
    font-weight: 800 !important;
    font-family: "Onest" !important;  
} */

.aviso {
    margin: 0;
    color: white;
}

/* ==========================
      5. Classes utilitárias
      ========================== */
.white {
    background-color: #ffffff !important;
}

.white>#logo {
    filter: invert(1);
}

.white p {
    color: black !important;
}

.white .voltar img {
    filter: invert(0) !important;
}

.padtop {
    padding-top: 10% !important;
}

.menu>table {
    margin-top: 5%;
    width: 80%;
    font-family: "Noto Sans";
    font-weight: 600;
    font-size: 20px;
    /* background-color: #0056b3; */
    /* border-collapse: collapse; */
}

.menu td {
    /* border: 1px solid; */
    /* border: 2px solid; */
}

.ticket {
    background-color: #fafafa !important;
    border-collapse: collapse;
    width: 70% !important;
    cursor: default !important;
}

.ticket>p {
    font-size: 20px !important;
}

.ticket>h2 {
    color: black !important;
}

.ticket button {
    font-size: 20px !important;
}

.ticket img {
    width: 20%;
}

.right {
    text-align: right;
}

.qrcode {
    background-color: #dddddd !important;
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.qrcode:hover {
    transition: 0.5 ease;
    filter: drop-shadow(0 0 5px green);

}

.ticket span {
    font-family: "Fjalla One";
    color: #2f9e41 !important;
}

.ticket.desativado span {
    font-family: "Fjalla One";
    color: #464646 !important;
}

#resultado {
    font-size: "Fjalla One";
}

video {
    width: 90%;
}

#calendario {
    text-align: center;
    width: 80%;
}

.qrcode p {
    width: 80%;
    font-weight: 900;
    color: #2f9e41 !important;
}

.ticket.desativado {
    background-color: #979797 !important;
}

.ticket.desativado button {
    display: none !important;
    background-color: #b2b2b2 !important;
}

/* ==========================
      6. Layout e Containers
      ========================== */
.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.topo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.topo>img {
    width: 40% !important;
}

/* ==========================
      7. Botões e Interações
      ========================== */
button,
.button {
    text-align: center;
    display: block;
    background-color: #0056b3;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 30px !important;
    cursor: pointer;
    margin: 20px auto;
    width: 70%;
    filter: drop-shadow(0px 5px rgb(174, 174, 174));
    font-size: 170%;
    font-weight: bold;
}

.btwhite {
    background-color: #fafafa;
    color: black;
}

/* ==========================
      8. Formulários
      ========================== */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    display: flex;
    justify-content: flex-start;
    margin: 0 0 5px 0;
    font-weight: bold;
    width: 100%;
    color: white;
    font-size: 20px;
}

input {
    margin: 0 0 15px 0;
    width: 100%;
    border-radius: 15px;
    border: solid 3px black;
    padding: 10px 5px;
    font-size: 20px;
}

/* ==========================
      9. Elementos diversos
      ========================== */
.acessibilidade>a {
    width: 100%;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.acessibilidade>a>img {
    width: 20%;
    filter: invert(1);
}

.acessibilidade>a>p {
    margin-top: -2px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    color: white;
}

.voltar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin-left: 5px;
}

.voltar>a {
    width: 12%;
}

.voltar img {
    width: 100%;
    filter: invert(1);
}

.voltar p {
    font-size: 20px;
    margin-top: -5px;
    color: white;
}

#sair {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    justify-content: center;
    margin-left: 5px;
    width: 10% !important;
}

#sair>img {
    padding-left: 6px !important;
    width: 100%;
}

#sair>p {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 20px;
    font-weight: bold;
}

#perfil {
    /* margin: -20% 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0% !important;
}

#perfil>img {
    width: 70%;
    border-radius: 50%;
    object-fit: cover;
}

.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 0% !important;
}

.sobre>img {
    background-color: black;
    border-radius: 20%;
    width: 60%;
    filter: invert(1) drop-shadow(0 5px 2px rgb(169, 168, 168));
}

#descricao {
    font-family: "Onest";
    font-weight: 400;
    font-size: 22px;
    width: 90%;
    text-align: justify;
}

.info {
    width: 100%;
    /* display: block; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}


.separa {
    justify-content: space-between !important;
}

.green {

    background-color: #2f9e41;
}

.menu {
    height: 70%;
    justify-content: start !important;
    padding-top: 10%;
}

.menu>form>a {
    margin-top: 50px !important;
    padding: 20px;
}

.padbot {
    padding-bottom: 30%;
}

.codigo {
    display: flex;
}

.codigo>button {
    font-size: 20px;
}

.erro {
    color: red;
}

.sucesso {
    color: green;
}

#logo {
    width: 30% !important;
}

div.entrar {
    display: block;
    margin: auto;
    width: 80%;
}

#pagamento {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#pagamento>label,
#pagamento>input {
    color: black;
    width: 50%;
}

.codigo {
    width: 75%;
    padding: 0px 0 !important;
    margin: 0 !important;
    font-size: 30px;
}

#codigoPix {
    overflow: hidden;
    margin: 0 !important;
    padding: 5px 0 !important;
    width: 100%;
    text-align: left;
    white-space: nowrap;
    /* Impede a quebra de linha */
    text-overflow: ellipsis;
    /* Adiciona "..." se o texto ultrapassar o limite */
}