@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Onest:wght@100..900&display=swap');

:root {
    --cor-fundo-normal: rgb(30, 50, 49);
}

* {
    font-family: "Nunito";
    color: black;
}

h1,
h2,
h4,
h5,
h6 {
    font-family: "Fjalla One" !important;
}

h3 {
    font-size: 10vw;
    text-align: center;
    margin: -1px;
    padding: 20px !important;
    color: black;
    font-weight:800 !important;
    font-family: "Onest" !important;
}

body {
    background-color: var(--cor-fundo-normal);
    color: #333;
    margin: 0;
    padding: 0;
    display: block;
    height: 100vh;
    width: 100vw;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.acessibilidade>a {
    width: 100%;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.acessibilidade>a>img {
    /* margin: 20px auto; */
    width: 20%;
    filter: invert(1);
}

.acessibilidade>a>p {
    margin-top: -2px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    color: white;
}

.padtop{
    padding-top: 10% !important;
}

.topo {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    width: 100vw;
    /* background-color: #0056b3; */
}

.topo>img {
    /* filter: drop-shadow(0px 0px 5px white); */
    width: 40% !important;
}

.voltar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin-left: 5px;
}

.voltar>a {
    width: 12%;
}
#sair {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px;
    justify-content: center;
    width: 100%;
    margin-left: 5px;
}

.white{
    background-color: white !important;
}

#sair>img {
    width: 12%;
}
#sair>p {
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
}


.voltar img {
    width: 100%;
    filter: invert(1);
}

.voltar p {
    font-size: 20px;
    margin-top: -5px;
    color: white;
}

.input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

h1 {
    font-size: 20vw;
    text-align: center;
    margin: 50px auto;
    color: white;
}

h2 {
    font-size: 10vw;
    text-align: center;
    margin: 20px auto;
    color: white;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.info {
    width: 100%;
    /* display: block; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.menu {
    background-color: #01F892;
    height: 80%;
    justify-content: start !important;
    padding-top: 10%;
}

.menu>form>a {
    margin-top: 50px !important;
    padding: 20px;
}

label {
    display: flex;
    justify-content: flex-start;
    margin: 0 0 5px 0;
    font-weight: bold;
    width: 100%;
    color: white;
    font-size: 20px;
}
.white>#logo{
    filter: invert(1);
}
.codigo {
    display: flex;
}

.codigo>button {
    font-size: 20px;
}

.aviso {
    margin: 0;
    color: white;
}

input {
    margin: 0 0 15px 0;
    width: 100%;
    border-radius: 15px;
    border: solid 3px black;
    padding: 10px 5px;
    font-size: 20px;
}

#logo {
    width: 30% !important;

}


button,
.button {
    text-align: center;
    display: block;
    background-color: #0056b3;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 30px !important;
    cursor: pointer;
    margin: 20px auto;
    width: 70%;
    filter: drop-shadow(0px 5px rgb(174, 174, 174));
    font-size: 170%;
    font-weight: bold;
}

.btwhite {
    background-color: #fafafa;
    color: black
}

div.entrar {
    display: block;
    margin: auto;
    /* background-color: aqua; */
    /* padding: auto; */
    width: 80%;
}

a {
    color: #2f9e41;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
}

.erro {
    color: red;
}

.sucesso {
    color: green;
}